
<h1>Pay the bill</h1>
<hr />
<ul>
    <li>let op, dit is een oefenwebsite.</li>
    <li>Het MTC-team zal niets leveren.</li>
    <li>Om je nep bestelling te plaatsen klik op de knop Pay</li>
</ul>
<hr />
<ul>
    <li>please note, this is a practice website</li>
    <li>The MTC team will deliver nothing.</li>
    <li>To place your fake order click on the Pay button</li>
</ul>
<hr />
<h1>But... Donating for the MTC-team is fun :-)</h1>

<form action="https://www.paypal.com/donate" method="post" target="_blank">
    
    <hr />
    <input type="hidden" name="hosted_button_id" value="NQNXWX9HKQDAY" />
    <input type="image" src="https://www.paypalobjects.com/en_US/BE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_BE/i/scr/pixel.gif" width="1" height="1" />
</form>

