body *{
    font-size: 1.25rem;
}



.first-nav {
    background: white;
}

.second-nav {
    top: 50px;
}

body {
    background-color: white;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.dropdown-menu > li > a:hover {
    cursor: pointer;
    color: #fcd448;
}

#adminManagementMenu {
    z-index: 2;
}

#main {
    z-index: 1;
}

.product-card {
    z-index: 0;
}

.adminNavBar, .adminNavBar > ul {
    background-color: #237fff;
}



#btnMyBasket:hover {
    background-color: #fcd448;
    color: black !important;
}

.warmYellow {
    color: #fcd448;
}

#sss * :hover, #navbarCollapse * :hover {
    color: #fcd448;
}

#sss *, #navbarCollapse {
    color: #c6c5c3;
}


#sss, #sss *, ul {
    background-color: #343a40;
    border:0px;
}

a:hover{
    cursor:pointer;
    text-decoration: none;
    color:black;
}

a{
    color:black;
}

.saleIcon {
    background-color: #cc0000;
    padding: 2px;
    border-radius: 5px;
    display: inline;
    color: white;
    float: right;
}

 .card-header {
    background-color: #343a40;
}

.card-header {
    color: #c6c5c3;
    height: 80px;
}

#starRating{
   text-align:center;
}

.product-card{
    height: 100%;
}

    @media (min-width: 1200px) {
        .product-card-container {
        max-width: 1500px;
    }
}

@media (max-width: 990px) {
    .product-card-container {
        max-width: 90%;
    }
}

@media (max-width: 820px) {
    .product-card-container {
        min-width: 700px;
    }
}

@media (max-width: 900px) {
    .saleIcon {
        font-size:0.8rem;
    }
}

/*#navbarCollapse{
    flex-direction:column;
}

#menu-block{
    flex-direction:column;
}*/

@media (max-width: 1450px) {
    #navbarCollapse {
        flex-direction: column;
    }
}

@media (max-width: 3000px) {
  
    #login-block{
        margin-left:auto;
    }

}

@media (max-width: 1000px) {

    #login-block {
        margin-left: 0;
        /*justify-self:flex-start;
        text-align:left;
        justify-content: left;*/
        margin-right: auto;
        flex-direction: column;
        
    }

    #companyLogo{
        visibility:hidden;
    }
}