@model MTC_WebServerCore.ViewModels.ProductAdmin.ProductCreateViewModel

<form asp-controller="ProductAdmin" asp-action="CreateProductAdmin" method="post" enctype="multipart/form-data">
    <!--belanrijk enctype voor een foto-->
    <div class="form-group">
        <label asp-for="EAN"></label>
        <input class="form-control" asp-for="EAN" />
        <span class="text-danger" asp-validation-for="EAN"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExtraInfo"></label>
        <input class="form-control" asp-for="ExtraInfo" />
        <span class="text-danger" asp-validation-for="ExtraInfo"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecommendedUnitPrice"></label>
        <input class="form-control" asp-for="RecommendedUnitPrice" />
        <span class="text-danger" asp-validation-for="RecommendedUnitPrice"></span>
    </div>
    <div class="form-group">
        <label asp-for="SolderPercentage"></label>
        <input class="form-control" asp-for="SolderPercentage" />
        <span class="text-danger" asp-validation-for="SolderPercentage"></span>
    </div>
    <div class="form-group">
        <label asp-for="BTWPercentage"></label>
        <input class="form-control" asp-for="BTWPercentage" />
        <span class="text-danger" asp-validation-for="BTWPercentage"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountInStock"></label>
        <input class="form-control" asp-for="CountInStock" />
        <span class="text-danger" asp-validation-for="CountInStock"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinStock"></label>
        <input class="form-control" asp-for="MinStock" />
        <span class="text-danger" asp-validation-for="MinStock"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxStock"></label>
        <input class="form-control" asp-for="MaxStock" />
        <span class="text-danger" asp-validation-for="MaxStock"></span>
    </div>
    <div class="form-group">
            <select asp-items="@Model.Categories" asp-for="CategorieId"></select>
        </div>
    @*<div class="demo-section k-content">
            @(Html.Kendo().TreeView()
            .Name("treeview")
            .DataTextField("Name")
            .DataSource(dataSource => dataSource
                .Read(read => read
                    .Action("Employees", "treeview")
                )
            )
        )*@

    @*@(
    Html.DevExtreme().TreeView()
    .ID("treeview")
    .DataSource(d => d.Mvc().LoadAction("GetHierarchicalDataForSearch"))
    .DisplayExpr("Text")
    .ItemsExpr("Items")
    .ExpandedExpr("Expanded")
    .Width(500)
    .SearchEnabled(true)
)

    <div class="options">
        <div class="caption">Options</div>
        <div class="option">
            <span>Search mode</span>
            @(Html.DevExtreme().SelectBox()
            .ID("searchMode")
            .DataSource(new[] { "contains", "startsWith" })
            .Value("contains")
            .OnValueChanged("selectBox_valueChanged")
        )
        </div>
    </div>*@

    <script>
    function selectBox_valueChanged(e) {
        $("#treeview").dxTreeView("option", "searchMode", e.value);
    }
    </script>


    <div class="form-group">
        <select asp-items="@Model.Suppliers" asp-for="SupplierId"></select>
    </div>
    <div class="form-group">
        <label asp-for="ProductImages"></label>
        <input type="file" multiple="multiple" class="form-control" id="Photos'" asp-for="ProductImages" />
        <span class="text-danger" asp-validation-for="ProductImages"></span>
    </div>

    <button class="btn-primary" type="submit">Create</button>

</form>
<a asp-controller="ProductAdminController" asp-action="Index">Trug naar overzicht </a>