@model MTC_WebServerCore.ViewModels.ProductAdmin.ProductEditViewModel


<form asp-controller="ProductAdmin" asp-action="EditProductAdmin" method="post" enctype="multipart/form-data">
    <!--belanrijk enctype voor een foto-->
    <div class="form-group" hidden="hidden">
        <label asp-for="EAN"></label>
        <input class="form-control" asp-for="EAN" />
        <span class="text-danger" asp-validation-for="EAN"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExtraInfo"></label>
        <input class="form-control" asp-for="ExtraInfo" />
        <span class="text-danger" asp-validation-for="ExtraInfo"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecommendedUnitPrice"></label>
        <input class="form-control" asp-for="RecommendedUnitPrice" />
        <span class="text-danger" asp-validation-for="RecommendedUnitPrice"></span>
    </div>
    <div class="form-group">
        <label asp-for="SolderPercentage"></label>
        <input class="form-control" asp-for="SolderPercentage" />
        <span class="text-danger" asp-validation-for="SolderPercentage"></span>
    </div>
    <div class="form-group">
        <label asp-for="BTWPercentage"></label>
        <input class="form-control" asp-for="BTWPercentage" />
        <span class="text-danger" asp-validation-for="BTWPercentage"></span>
    </div>
    <div class="form-group">
        <label asp-for="MinStock"></label>
        <input class="form-control" asp-for="MinStock" />
        <span class="text-danger" asp-validation-for="MinStock"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxStock"></label>
        <input class="form-control" asp-for="MaxStock" />
        <span class="text-danger" asp-validation-for="MaxStock"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategorieId"></label>
        <select class="form-control" asp-items="@ViewBag.Categories" asp-for="CategorieId"></select>
        <a asp-controller="Category" asp-action="AddCategory">New Category</a>
    </div>
    <div class="form-group">
        <label asp-for="SupplierIds"></label>
        <select multiple class="form-control" asp-items="@Model.Suppliers" asp-for="SupplierIds"></select>
        <a asp-controller="Administration" asp-action="RegisterSupplier">New Supplier</a>
    </div>
    <div class="form-group">
        <label asp-for="ProductImages"></label>
        @{ foreach (var item in ViewBag.ProductImages)
            {
                <img class="img-responsive" width="200" height="200" src="@item" />
            }
        }
        <input type="file" multiple="multiple" class="form-control" id="Photos'" asp-for="ProductImages" />
        <span class="text-danger" asp-validation-for="ProductImages"></span>
    </div>


    <span class=" text-danger">@Html.ValidationSummary(true)</span>
    <button class="btn-primary" type="submit">Edit</button>


</form>
<a asp-controller="ProductAdmin" asp-action="IndexProductAdmin">Back </a>