<div>
    <p>This category cannot be deleted. The category or its subcategories contain products.</p>
    <a class="btn btn-primary" asp-controller="Category" asp-action="OverviewCategories">Back to category overview</a>
</div>
