@model ProductCategorie

@if (Model == null)
{
    <h2>The category @Model.Name could not be found.</h2>
    <a class="btn btn-danger">Back to overview</a>
}
@if (Model.Products.Count() != 0)
{
    <h2>The category @Model.Name cannot be deleted because it contains products.</h2>
    <a class="btn btn-danger" asp-controller="category" asp-action="overviewCategories">Back to overview</a>
}
else
{
    <h2>Are you sure you want to delete @Model.Name?</h2>
    <form asp-controller="category" asp-action="DeleteConfirm" asp-route-id="@Model.ID" method="post">
        <button class="btn btn-danger">Yes</button>
    </form>
    <a class="btn btn-dark" asp-controller="category" asp-action="overviewCategories">Back to categories</a>
}

