@using MTC_WebServerCore.ViewModels.Category
@model EditCategoryViewModel
@{
    ViewData["Title"] = "Edit Category";
    var hasNoParent = ViewData["NoParent"];
}
<h2>Edit Category</h2>
<form asp-controller="Category" asp-action="EditCategory" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        @if (Model.CurrentLocation == null)
        {
            <p>This category doesn't belong to any other category.</p>
        }
        else
        {
          <p>Belongs to: <strong>@Model.CurrentLocation</strong> </p>
        }
    </div>
    <div class="form-group">
        <label>Move it to another category:</label>
        <select id="cmbPublicher" asp-for="ParentCategorieId" class="custom-select mr-sm-2"
                asp-items="Model.productCategories">
            @if ((bool)hasNoParent)
            {
                <option selected value="">Make it a main category (no parent category)</option>
            }
            else
            {
                <option value="">Make it a main category (no parent category)</option>
            }

        </select>
        <span asp-validation-for="ParentCategorieId" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Save Edit</button>
</form>
